section.about
    .container.container--sm
        h2 Развивайте ваш сайт вместе с нами
        .about-content.edit-content
            p В большинстве случаев, компании создающие сайты, отдают вам готовый продукт и не интересуются его дальнейшей судьбой. Мы же предлагаем вам решения, которые обеспечат гарантированную работу и развитие вашего веб-каталога. Для наших клиентов мы представляем свои серверные мощности, на которых можем гарантировать стабильную работу сайта и учет всех требований к оптимизации. А так же бесплатный SSL сертификат.  Наши сервера имеют 99.9% uptime. Так же на своих серверах мы предоставляем постоянный мониторинг сайта на предмет работоспособности и различных жизненных показателей. Если что-то пойдет не так – мы быстро отреагируем и исправим в максимально короткие сроки! 
            ul
                li
                    h3 Максимальная оптимизация проекта
                    p Быстрая загрузка страниц и правильный подход к Core Web Vitals. Это позволяет снизить количество отказов 
                li
                    h3 Размещение на наших серверах
                    p Мы будем следить за развитием вашего сайта и рекомендовать пути для более лучшего его
            p В большинстве случаев, компании создающие сайты, отдают вам готовый продукт и не интересуются его дальнейшей судьбой. Мы же предлагаем вам решения, которые обеспечат гарантированную работу и развитие вашего веб-каталога. Для наших клиентов мы представляем свои серверные мощности, на которых можем гарантировать стабильную работу сайта и учет всех требований к оптимизации. А так же бесплатный SSL сертификат.  Наши сервера имеют 99.9% uptime. Так же на своих серверах мы предоставляем постоянный мониторинг сайта на предмет работоспособности и различных жизненных показателей. Если что-то пойдет не так – мы быстро отреагируем и исправим в максимально короткие сроки!
            h3 Максимальная оптимизация проекта:
            ul
                li: p Быстрая загрузка страниц и правильный подход к Core Web Vitals. Это позволяет снизить количество отказов 
                li: p Мы будем следить за развитием вашего сайта и рекомендовать пути для более лучшего его
            h3 Максимальная оптимизация проекта:
            ol(start="10")
                li: p Быстрая загрузка страниц и правильный подход к Core Web Vitals. Это позволяет снизить количество отказов 
                li: p Мы будем следить за развитием вашего сайта и рекомендовать пути для более лучшего его
                li: p В большинстве случаев, компании создающие сайты
            .table
                table
                    tbody
                        tr.head
                            th(width="50%") Город
                            th(width="25%") Доставка
                            th(width="25%") Оплата
                        tr.row
                            th(width="50%")
                                h4 Москва
                                p Мы будем следить за развитием вашего сайта и рекомендовать пути для более лучшего его
                            th(width="25%"): bold 2-4 дня
                            th(width="25%"): bold Онлайн
                        tr.row
                            th(width="50%")
                                h4 Варшава
                                p Мы будем следить за развитием вашего сайта и рекомендовать пути для более лучшего его
                            th(width="25%"): bold 1-3 дня
                            th(width="25%"): bold Наличными