/* colors */

$black: #000;
$white: #fff;
$linkHover: #84CDFF;
$btnBlue: #4282BC;
$btnBlueHover: #8F94FB;
$btnGradient: linear-gradient(269.76deg, #8F94FB 0.21%, rgba(143, 148, 251, 0) 101.58%),
#4282BC;
$btnGradientHover: #8F94FB;
$textSecondary:#455762;
$borderBlue: #4783C0;
$borderGrey: #D7D7D7;
$placeholder: #B4B4B4;
$footerPrimary: #14243d;
$footerLink: #2E7AAE;
$formGrey:#F9FAFF;
$listMarker: #8488E8;

/* tables */

$tableHeadBack: #EEF0FC;
$tableHeadText: #455762;
$tableBorderText: #b5b5b5;
$tableHeadTextColor: #455762;

/* media breakpoints */
$w1600: 1600px;
$w1440: 1440px;
$w1376: 1376px;
$w1280: 1280px;
$w1152: 1152px;
$w1024: 1024px;
$w992: 992px;
$w768: 768px;
$w576: 576px;
$w480: 480px;
$w425: 425px;
$w375: 375px;
$w360: 360px;
$w320: 320px;
$w280: 280px;