header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: all 0.25s ease;

    &.sticky {
        position: fixed;
        background: $footerPrimary;

        .header {
            padding: 20px 0;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 36px 0;
    transition: all 0.25s ease;

    &-toggle {
        display: block;
        width: 56px;
        height: 40px;

        @media screen and (min-width: 1153px) {
            display: none;
        }
    }

    &-logo {
        width: 144px;
        margin-right: auto;
        display: flex;
        align-items: center;

        &__text {
            font-weight: 600;
            font-size: 22px;
            line-height: 25px;
            color: $white;
            margin-left: 15px;
        }

        @media screen and (min-width: 577px) {
            width: 160px;

            &__text {
                font-size: 24px;
                line-height: 27px;
            }

            &__img {
                width: 49px;
                height: 35px;
            }
        }

        &__img {
            display: block;
            width: 44px;
            height: 32px;
            position: relative;

            img {
                @include imageCover;
            }
        }
    }

    &-nav {
        display: none;

        &__ul {
            display: flex;
            width: 100%;

            li {
                margin: 0 12px;

                @media screen and (min-width: 1281px) {
                    margin: 0 24px;
                }
            }

            li a {
                color: $white;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
            }
        }

        @media screen and (min-width:1153px) {
            display: block;
        }

        @media screen and (min-width: 1281px) {}
    }

    &-links {
        margin-left: (52px - 24px);
        margin-right: 73px;
        display: none;

        &__link {
            color: $white;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.065em;
            text-transform: uppercase;
        }

        @media screen and (min-width: 1153px) {
            margin-right: 52px - 18px;
        }

        @media screen and (min-width: 577px) {
            display: block;
            width: 162px;
        }
    }

    &-lang {
        margin-right: 32px;
        padding: 18px;
        position: relative;
        display: none;

        &__active {
            cursor: pointer;
            position: relative;
            padding-top: 14px / 24px * 100%;
            width: 24px;

            img {
                @include imageCover();
            }
        }

        &:hover &__ul {
            opacity: 1;
            visibility: visible;
        }

        &__ul {
            width: 54px;
            padding: 15px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background: #252649;
            border-radius: 9px;
            opacity: 0;
            visibility: hidden;
        }

        @media screen and (min-width: 1153px) {
            display: block;
        }
    }

    &-btns {
        display: none;

        .button {
            width: 205px;
            text-align: center;
        }

        @media screen and (min-width: 1153px) {
            display: block;
        }
    }
}