include ../../../../views/helpers/mixins.pug
section#services.services
  .container.container--xl
    .section-h2.text-center Услуги
    .services-items
      .services-items__item
        .title
          .title-icon: +icons('#services_sites',90)
          .section-h3.title-text Сайты
        .desc.text-desc
      .services-items__item
        .title
          .title-icon: +icons('#services-shop',90)
          .section-h3.title-text Интернет-магазины
        .desc.text-desc
      .services-items__item
        .title
          .title-icon: +icons('#services-edit',90)
          .section-h3.title-text Исправление и оптимизация
        .desc.text-desc