.development-analysis
  .development-analysis__text
    .title.section-h3 У вас уже есть сайт? Он может работать быстрее!
    .caption.text-desc Оставьте заявку и мы покажем все слабые места вашего проект
  .development-analysis__btn
    button.button.button-gradient(data-popup="popup-analysis") Бесплатный анализ cайта