.mobileMenu
  .container
    .mobileMenu-header
      .mobileMenu-header__logo
      .mobileMenu-header__phone
        a.link-hover(href="tel:+375296614771" title="+375296614771") +375296614771
      .mobileMenu-header__toggle
        +iconsWh('#ic_close', 40, 40)
    nav.mobileMenu-nav
      a(href="#feedback").button.button-gradient Обратная связь
      ul.mobileMenu-nav__links
        li
          a.link-hover(href="#footer" title="Контакты") Контакты
      .mobileMenu-nav__phone
        a.link-hover(href="tel:+375296614771" title="+375296614771") +375296614771
      