.pageBanner {
  padding: 159px 0 73px;
  position: relative;

  .section-h1 {
    color: $white;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &-wrapper__img {
    @include imageCover;
    z-index: -1;
    background: $footerPrimary;

    img {
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }

  &-wrapper__title {
    margin-bottom: 21px;
  }

}