section.mainpageBanner
  .container
    .mainpageBanner-wrapper
      .mainpageBanner-wrapper__img
        picture
          source(srcset="../img/home/background_1920.jpg",media="(min-width: 835px)")
          source(srcset="../img/home/background_830.jpg",media="(min-width: 577px)")
          source(srcset="../img/home/background_400.jpg",media="(min-width: 361px)")
          img(src="../img/home/background.jpg", loading="lazy", alt="Background")
      h1.section-h1.text-center Портфолио<br>Front-end разработчика
      .mainpageBanner-content__btns