mixin breadcrumb(data, modify, active)
  .breadcrumb(class=""+(modify ? modify : '')+"")
    ul
      each item, index in data
        if index === 0
          li: a(href="/" class=(active == index ? 'active':'') title=item)!= item
        else
          li: a(href="#" class=(active == index ? 'active':'') title=item)!= item