.container
  .footer#footer
    .footer-feedback
      ul.footer-feedback__ul
        li
          a.link-hover(href="mailto:yukhnovski.vlad@gmail.com" title="yukhnovski.vlad@gmail.com") yukhnovski.vlad@gmail.com
          span.caption Почта
        li
          a.link-hover(href="mailto:+375 29 661 47 71" title="+375 29 661 47 71") +375 29 661 47 71
          span.caption Телефон
