section.development
  .container.container--xl
    .section-h2 Развивайте ваш сайт вместе с нами
    .section-desc.text-desc В большинстве случаев, компании создающие сайты, отдают вам готовый продукт и не интересуются его дальнейшей судьбой. Мы же предлагаем вам решения, которые обеспечат гарантированную работу и развитие вашего веб-каталога.
    include ../home-analysis/home-analysis.pug
    .development-items
      .development-items__item
        .caption Before &nbsp; &nbsp; After
        .image
          .image-wrp
            img(src="img/home/optimization.png", alt="Optimization", loading="eager", )
        .title.section-h3 Максимальная оптимизация проекта
        .desc.text-desc Быстрая загрузка страниц и правильный подход к Core Web Vitals Это позволяет снизить количество отказов (закрытия сайта) ваших потенциальных клиентов, а также улучшить их восприятие вашего сайта засчет удобства работы с ним. Мы предлагаем оптимизацию любого, выбранного вами, существующего шаблона для WordPress и WooCommerce
      .development-items__item
        .caption UpTime <span>99.98%</span>
        .image
          .image-wrp
            img(src="img/home/servers.png", alt="Servers", loading="eager", )
        .title.section-h3 Размещение на наших серверах
        .desc.text-desc Для наших клиентов мы представляем свои серверные мощности, на которых можем гарантировать стабильную работу сайта и учет всех требований к оптимизации. А так же бесплатный SSL сертификат.  Наши сервера имеют 99.9% uptime Так же на своих серверах мы предоставляем постоянный мониторинг сайта на предмет работоспособности и различных жизненных показателей. Если что-то пойдет не так – мы быстро отреагируем и исправим в максимально короткие сроки! 
      .development-items__item
        .caption Page views per minute
        .image
          .image-wrp
            img(src="img/home/pageview.png", alt="Analytics", loading="eager", )
        .title.section-h3 Аналитика и развитие
        .desc.text-desc Мы будем следить за развитием вашего сайта и рекомендовать пути для более лучшего его использования. Также будем учитывать поведение пользователей и предлагать изменения, которые позволят улучшить достижение вашей цели.
